header {
  background-color: #FF88A6;
  box-shadow: 0px 1px 2px #FFCCFF;
  margin-bottom: 10px;
}

header a.top_link {
  color: inherit;
}

header h1 {
  margin: 0px;
  font-family: 'Shrikhand', cursive;
  flex-grow: 1;
  flex-shrink 0;
}

header h2 {
  margin: 0px;
}

header .content {
  padding-left: 80px;
  min-height: 100px;
  background-image: url(../img/logo.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 80px;
}

header .title {
  display: flex;
  align-items: stretch;
}

header .subscribe {
  width: 100px;
  flex-shrink: 0;

  display: flex;
  align-items: stretch;
}

header .subscribe a {
  display: flex;
  align-items: baseline;
  font-size: 10pt;
  line-height: 2em;
}

header img.feed {
  height: 28px;
}

ul.podcasts {
  list-style: none;
  margin: 40px 0px;
}

ul.podcasts li {
  margin: 20px 0px;
}

ul.podcasts .date {
  color: #999;
}

ul.podcasts h3.title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
}

ul.podcasts .guest {
  color: #666;
  font-size: 0.9em;
}

.top_message {
  font-size: 0.8em;
}

section {
  margin: 10px 0px;
}

section.podcast {
  text-align: center;
  margin: 40px auto;
}

.platforms {
  list-style-type: none;
  margin: 0px;
  padding: 10px 20px;
}

.platforms li {
  display: inline-block;
}

.platforms li img {
  width: 30px;
  height: 30px;
}

.widget_container {
  display: flex;
}

.widget {
}
